.white{
	color: #fff;
}

.clock{
	color: #fff;
	font-size: xx-large;
	padding-right: 10px;
	padding-top:15px;
}

body{
	background-color: rgb(116, 171, 250);
  font-family: Main;
}

@font-face {
	font-family: Main;
	src: url("/Fonts/Rubik-Regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: Main;
	src: url("/Fonts/Rubik-Regular.ttf");
	font-weight: bold;
}

* {
	box-sizing: border-box;
	position: relative;
}

h1,h2,h3,h4,h5 {
	font-weight: bold;
}



.main-h1 {
	padding-left: 56px;
}

a:link {
	color: rgb(255, 255, 255);
	background-color: transparent;
	text-decoration: none;
}
a:visited {
	color: rgb(255, 255, 255);
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: rgb(255, 255, 255);
	background-color: transparent;
	text-decoration: underline;
}
a:active {
	color: rgb(255, 255, 255);
	background-color: transparent;
	text-decoration: underline;
}
/* this is the end of the link colour change */
ul {
list-style-type: none;
margin: 0;
padding: 0;
}

li {
display: inline;
}

.google{
width: 500px;
height: auto;
padding: 20px;
margin: auto;
margin-top: 90px;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #101010;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }

  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }

  .sidenav a:hover {
	color: #f1f1f1;
  }

  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }

  .navpos{
	  margin-left: 355px;
  }

  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

.scaled {
	transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
}

.picture{
	height: 200;
	margin-top: 50px;
	margin-bottom: 50px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 750px;
	max-width: 80%;
  }

.mcenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 350px;
	max-width: 80%;
}

.header{
	width: 100%;
	height: 80px;
	border-left: 10px;
	border-right: 10px;
	background-color: #101010;
	box-shadow: 0px 0px 10px 3px black;
}
.footer{
	width: 100%;
	height: 200px;
	border-left: 10px;
	border-right: 10px;
	background-color: #101010;
	box-shadow: 0px 0px 10px 3px black;
	margin-top: 100%;
}

.Apps{
	margin-top:100px;
	width: fit-content 100%;
	background-color: gray;
	background-color: rgba(53,109,220);
	box-shadow: 0px 0px 50px 5px rgba(0,0,0);
}

.squares{
	display:  flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 50px;
}

 .GoogleFlex{
	 display:  flex;
	 justify-content: space-between;
	 padding: 5px;
 }

 .footerCr{
	 padding: 5px;
	 margin-top: 0;
	 margin-bottom: 1rem;
	 color: rgb(255, 255, 255);

 }


#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 650px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}
