/*body {
    background-image: url("/img/butc background0.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}*/
body{
	background-color: rgb(52, 138, 219);
  font-family: Montserrat;
}

@font-face {
	font-family: Montserrat;
	src: url("/fonts/Montserrat-ExtraLight.otf");
	font-weight: normal;
}
@font-face {
	font-family: Montserrat;
	src: url("/fonts/Montserrat-Regular.otf");
	font-weight: bold;
}

* {
	box-sizing: border-box;
	position: relative;
}

h1,h2,h3,h4,h5 {
	font-weight: bold;
}

hr {
	border-color:#c1c1c1;

	border-width: 1px;

	border-style: dashed;
}

.main-h1 {
	padding-left: 56px;
}

a:link {
	color: rgb(209, 8, 192);
	background-color: transparent;
	text-decoration: none;
}
a:visited {
	color: rgb(209, 8, 192);
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: rgb(255, 0, 234);
	background-color: transparent;
	text-decoration: underline;
}
a:active {
	color: rgb(255, 0, 0);
	background-color: transparent;
	text-decoration: underline;
}
/* this is the end of the link colour change */
ul {
list-style-type: none;
margin: 0;
padding: 0;
}

li {
display: inline;
}
.box{
width: 500px;
height: 120px;
padding: 20px;
margin: 70px;
margin-top: 175px;
box-shadow: 0px 0px 10px 2px grey;

background-color: rgb(54, 129, 129) ;

background-size: cover;
}
.box1{
width: 500px;
height: auto;
padding: 20px;
margin: auto;
margin-top: 175px;
box-shadow: 0px 0px 10px 2px grey;

background-color: rgba(37, 88, 88, 0.733) ;
background-size: cover;
}
.box1{
width: 500px;
height: auto;
padding: 20px;
margin: auto;
margin-top: 175px;
box-shadow: 0px 0px 10px 2px black;

background-color: rgba(37, 88, 88, 0.733) ;
background-size: cover;
}
.nav{
width: auto;
height: 50px;
padding-top: 10px;
padding-left: 43%;
margin: 0px;
margin-top: 5px;
background-color: rgba(0, 47, 255, 0) ;
background-size: cover;
}
.scaled {
	transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
}

.apps1{
	width: 100px;
	height: 430px;
	padding: 5px;

}

.apps2{
	width: 100px;
	height: 430px;
	padding: 5px;
	margin-left: 100px;
	margin-top: -430;

}
.AppsJoin{
	width: 205;
	height: 430;
	background-color: rgba(37, 88, 88, 0.733);
	box-shadow: 0px 0px 10px 2px black;
	margin-left: 80%;
	margin-top: -17%;
}

.Office365{
	border-radius: 5px;
	width: 75px;
	height: 75px;
	margin: 7px;
	background-color: white;
	padding: 5px;
}
/* exel was acting odd */
.Excel{
	border-radius: 5px;
	width: 75px;
	height: 75px;
	margin: 7px;
	background-color: white;
	padding-right: 5px;
}

.OneDrive{
	border-radius: 5px;
	width: 75px;
	height: 75px;
	margin: 7px;
	background-color: white;
	padding-left: 5px;
	padding-top: 10px;
}

.PowerApps{
	border-radius: 5px;
	width: 75px;
	height: 75px;
	margin: 7px;
	background-color: white;
	padding: 5px;
	padding-top: 10px;
}

.Picture{
	width: 400;
	height: 200;
	background-color: rgba(37, 88, 88, 0.733);
	box-shadow: 0px 0px 10px 2px black;
	margin-left: ;
	margin-top: ;
}